.container {
  display: block;
  margin: 40px;
  border: solid;
  border-radius: 30px;
  border-color: gainsboro;
  max-width: 550px;
  padding: 10px 50px 20px;
}

.card {
  display: block;
  margin: 10px auto;
  padding: 10px;
}

.btn-search {
  background: red;
  color: white;
}

.main-temp {
  position: relative;
  left: 275px;
  top: -175px;
}

.main-emoji-temp {
  font-size: 35px;
  color: #0e0653;
}

.cityLinks {
  padding: 20px;
}

.city {
  display: block;
  margin: 0 auto;
}

.city-box {
  box-sizing: border-box;
  width: 100%;
  padding: 5p;
}

.emoji-temp {
  font-size: 40px;
}

.text-temp {
  color: #6f7fdd;
  font-weight: bold;
}

.more-weather {
  color: gray;
  font-size: 18px;
}

.weekly {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.unit {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px 10px;
}

a {
  text-decoration: none;
  color: #1631ca;
}

.WeeklyForecast {
  text-align: center;
}
